venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# large/raw data
data/raw/
data/kantamal/raw/

# trained models
*.h5
*.keras
*.pt
*.pth

# environment files
.env
# Raw sample dataset
data/sample/chrono_data.csv
# Raw sample datasets
data/sample/*.csv
# CAMELS-IND raw dataset
data/camels_ind/